<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="main-class">
    <div>
      <img src=<%= frontImage %> alt="" />
      <p><%= name %> wants to chill, help him look for a place to chill!</p>
      <button><a href="\bulbasaur\forest">Forest</a></button><button><a href="\bulbasaur\rain">Rainy Forest</a></button><button><a href="\bulbasaur\sunny">Sunny Forest</a></button>
  <button><a href= '<%=mypokemon %>'>
    Go to profile
  </a></button>
  <button><a href= "/">
    NEW GAME
  </a></button>
  </div>
</body>
</html>