<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POKEMON BATTLE</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Yanone+Kaffeesatz:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="confetti">
    <div>
      <img class="winnerimage" src=<%= frontImage %> alt="" />
  </div>
  <h4>Thank you for playing the game!</h4>
  <button class="button"><a href= "/">
    NEW GAME
  </a></button>
  </div>
</body>
</html>