<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POKEMON BATTLE</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Yanone+Kaffeesatz:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="confetti">
    <div style="margin-top: 150px;">
      <h3>CONGRATULATIONS!!!</h3>
      <img class="winnerimage" src=<%= frontImage %> alt="" />
      <h1><%= name %></h1>
  </div>
  <h4>Thank you for playing the game!</h4>
  <button class="button"><a href= "/">
    NEW GAME
  </a></button>
  <div>
  <p style="font-size: 12pt;padding: 0 0; margin: 0 0; margin-top: 20px;">Follow me on:</p>
  <a href="https://github.com/samuel-joseph/"><img style="width: 50px; padding: 2px 5px;" src="https://cdn.icon-icons.com/icons2/2351/PNG/512/logo_github_icon_143196.png" alt=""/></a>
  <a href="https://www.linkedin.com/in/techjoe/" >
  <img style="width: 50px; padding: 2px 5px;" src ="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" alt="" />
</a>
<a href="https://www.instagram.com/tech.joe/">
<img style="width: 50px; padding: 2px 5px;" src="https://www.edigitalagency.com.au/wp-content/uploads/instagram-logo-svg-vector-for-print.svg" alt="" /></a>
</div>
  </div>
</body>
</html>