<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1><%= my_user %></h1>
  <div class="login">
    <h1 style="color:white; text-align: center;">LOGIN</h1>
    <form style="display: flex; flex-direction: column; width: 30%; margin: 0 auto;" action="/login" method="POST">
      <input style="height:5vh; margin: 10px 0;" type="text" name="username" placeholder="What is your username?" />
      <input style="height:5vh; margin: 10px 0;" type="password" name="password" placeholder="What is your password?" />
      <input style="height:5vh; margin: 10px 0; border-radius: 15px; background-color: blue; color:white;" type="submit" value="LOG IN!" />
    </form>

    <a href="/signin">
      <p style="color: #ffffff; font-size: 10pt; text-align: center;">Sign up?</p></a>

    <% if(invalid_login) {%>
    <div class="error">
      Invalid Login
    </div>
    <% } %>
</div>
</body>
</html>